

/*nav*/
.link1{
    color:#808080;
}


.card-documentacion {
    border-color: blue;
    margin:15px;
    
}
.card-documentacion1 {
    border-color: rgb(213, 213, 35);
    margin:15px;  
}

/*formulario*/
.cantidad {
    color:#808080;
}

.categoria {
    color:#808080;
}